@import 'src/styles/constants/_primitives.scss';

.button {
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: $color-grey-600;

    &:hover {
        background-color: transparent;
        box-shadow: none;
    }
}
