@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(center, center);
    position: relative;

    .tier {
        position: absolute;
        text-align: center;
        font-weight: 700;
        color: $color-white;

        &--sm,
        &--md {
            font-size: 16px;
            line-height: 24px;
        }

        &--lg {
            font-size: 18px;
            line-height: 28px;
        }
    }
}
