@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, stretch, column);
    gap: 1.5rem;
    max-width: 35rem;

    @media (max-width: $md) {
        max-width: 100%;
    }

    .header {
        @include flex(normal, stretch, column);
        gap: 0.25rem;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: $color-grey-900;
    }

    .subheader {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        color: $color-grey-600;
    }

    .cards {
        @include flex(flex-start, center);
        gap: 0.75rem;
        padding-bottom: 0.5rem;
        overflow-x: auto;

        &::-webkit-scrollbar-thumb {
            background-color: $color-grey-300;
            cursor: pointer;
        }
    }

    .section {
        @include flex(normal, stretch, column);
        gap: 1.5rem;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: $color-grey-900;
    }
}
