@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, stretch, column);
    direction: ltr;

    .list {
        @include flex(normal, center);
        gap: 1.5rem;
        padding: 1rem 0;
        border-bottom: 1px solid $color-grey-200;

        &__left {
            flex: 1;
            @include flex(normal, center);
            gap: 0.75rem;
        }

        &__icon {
            padding: 0.5rem;
            background-color: $color-grey-100;
            border: 0.75px solid rgba(0, 0, 0, 0.08);
            border-radius: 9999px;
        }

        &__info {
            @include flex(normal, stretch, column);
            font-size: 16px;
            line-height: 24px;
            color: $color-grey-600;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @media (max-width: $md) {
                font-size: 14px;
                line-height: 20px;
            }

            &--bold {
                font-weight: 500;
                line-height: 24px;
                color: $color-grey-900;
            }

            &--mobile {
                display: none;

                @media (max-width: $md) {
                    @include flex(normal, center);
                    gap: 0.25rem;
                    font-size: 14px;
                    line-height: 20px;
                    color: $color-grey-600;
                }
            }
        }

        &__price {
            @include flex(normal, center);
            gap: 0.25rem;
            line-height: 24px;
            font-weight: 500;
            color: $color-grey-900;

            @media (max-width: $md) {
                display: none;
            }

            &--soft {
                font-weight: normal;
                line-height: 20px;
                color: $color-grey-600;
            }
        }
    }

    .pagination {
        border-radius: 0;
        padding: 1rem 0;
    }
}
