@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, normal, column);
    gap: 1.25rem;
    padding: 2rem;

    @media (max-width: $md) {
        padding: 2rem 1rem;
    }
}
